div.input {
	display: none
}

div.output_area{
	display:flex;
	justify-content:center;
	align-items:center;
}

div.output_prompt{
	display: none
}

.reveal p{
    margin: 0
}

.rendered_html h1{
    font-size: 55px
}

.rendered_html blockquote{
    margin-bottom: 0em
}

.rendered_html h2{
    font-size:180%
}

.highlight pre{
    font-size:22px
}